In [15]:
import pandas as pd

In [16]:
df = pd.read_csv("Hotel Reservations.csv")

In [17]:
df = df.drop(["Booking_ID", "arrival_year"], axis=1)
df["booking_status"] = df["booking_status"].apply(lambda x : 1 if x == "Canceled" else 0)

In [18]:
df = pd.get_dummies(df, dtype=int)

In [20]:
df

,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,required_car_parking_space,lead_time,arrival_month,arrival_date,repeated_guest,no_of_previous_cancellations,...,room_type_reserved_Room_Type 3,room_type_reserved_Room_Type 4,room_type_reserved_Room_Type 5,room_type_reserved_Room_Type 6,room_type_reserved_Room_Type 7,market_segment_type_Aviation,market_segment_type_Complementary,market_segment_type_Corporate,market_segment_type_Offline,market_segment_type_Online
0,2,0,1,2,0,224,10,2,0,0,...,0,0,0,0,0,0,0,0,1,0
1,2,0,2,3,0,5,11,6,0,0,...,0,0,0,0,0,0,0,0,0,1
2,1,0,2,1,0,1,2,28,0,0,...,0,0,0,0,0,0,0,0,0,1
3,2,0,0,2,0,211,5,20,0,0,...,0,0,0,0,0,0,0,0,0,1
4,2,0,1,1,0,48,4,11,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36270,3,0,2,6,0,85,8,3,0,0,...,0,1,0,0,0,0,0,0,0,1
36271,2,0,1,3,0,228,10,17,0,0,...,0,0,0,0,0,0,0,0,0,1
36272,2,0,2,6,0,148,7,1,0,0,...,0,0,0,0,0,0,0,0,0,1
36273,2,0,0,3,0,63,4,21,0,0,...,0,0,0,0,0,0,0,0,0,1
36274,2,0,1,2,0,207,12,30,0,0,...,0,0,0,0,0,0,0,0,1,0